@import 'tailwindcss';

/* NanumHuman webfont (woff) */
@font-face {
  font-family: 'NanumHuman';
  src: url('/NanumHuman/NanumHumanLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumHuman';
  src: url('/NanumHuman/NanumHumanRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumHuman';
  src: url('/NanumHuman/NanumHumanBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumHuman';
  src: url('/NanumHuman/NanumHumanHeavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'NanumHuman', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

/* 다크 모드 (기본값 또는 시스템이 다크일 때) */
/* @media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
} */

/* 라이트 모드 (시스템이 라이트일 때) */
/* @media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    color: #213547;
    background-color: #ffffff;
  }
} */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
